<div class="widget-wrap" align="center">
  <a href="/">
    <img src="<%- url_for('/images/photo366748288653830057.jpg') %>" width="70%">
  </a>
</div>
<div align="center">
  <h3 class="widget-title">Muhammad Hafidz</h3>
  <div class="widget">
    INTJ - Java Developer
  </div>
</div>
<br>
<hr style="color:#006bde">
